
BWG-UniversityManager-MVC/.vs/BWG-UniversityManager-MVC/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.config
*.dll
*.pdb
*.dll
*.pdb
*.cache
*.cache
BWG-UniversityManager-MVC/BWG-UniversityManager-MVC/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BWG-UniversityManager-MVC/BWG-UniversityManager-MVC/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BWG-UniversityManager-MVC/BWG-UniversityManager-MVC/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.dll
*.dll
*.pdb
*.cache
BWG-UniversityManager-MVC/.vs/BWG-UniversityManager-MVC/v16/.suo

BWG-UniversityManager-MVC/BWG-UniversityManager-MVC/obj/Debug/BWG-UniversityManager-MVC.csproj.FileListAbsolute.txt

BWG-UniversityManager-MVC/BWG-UniversityManager-MVC/obj/Release/BWG-UniversityManager-MVC.csproj.FileListAbsolute.txt
BWG-UniversityManager-MVC/.vscode/launch.json
BWG-UniversityManager-MVC/.vscode/tasks.json
