@model IEnumerable<ASP_NET_MVC.Models.Teacher>

@{
    ViewBag.Title = "ShowTecherList";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<h2>ShowTecherList</h2>

<table class="table" id="table">
    <thead>
        <tr>
            <td><b>ID</b></td>
            <td><b>Name</b></td>
            <td><b>Email</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)
        {
            <tr id=@teacher.Id>
                <td><b onclick="ViewDetails(@teacher.Id)">@teacher.Id</b></td>
                <td> @teacher.Name </td>
                <td> @teacher.Email </td>
            </tr>
        }
    </tbody>
</table>