@model IEnumerable<ASP_NET_MVC.Models.Subject>

@{
    ViewBag.Title = "ShowSubjectList";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<h2>ShowSubjectList</h2>

<table class="table" id="table">
    <thead>
        <tr>
            <td><b>ID</b></td>
            <td><b>Name</b></td>
            <td><b>Credits</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model)
        {
            <tr id=@subject.Id>
                <td><b onclick="ViewDetails(@subject.Id)">@subject.Id</b></td>
                <td> @subject.Name </td>
                <td> @subject.Credits </td>
            </tr>
        }
    </tbody>
</table>
