@model IEnumerable<ASP_NET_MVC.Models.Account>

@{
    ViewBag.Title = "ShowAccountList";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}

<h2>ShowAccountList</h2>

<table class="table" id="table">
    <thead>
        <tr>
            <td><b>ID</b></td>
            <td><b>Username</b></td>
            <td><b>Password</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr id=@account.Id>
                <td><b onclick="ViewDetails(@account.Id)">@account.Id</b></td>
                <td> @account.UserName </td>
                <td> @account.Password </td>
            </tr>
        }
    </tbody>
</table>

