
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_LayoutForStudent.cshtml";
}


<div class="d-flex p-2 text-center col-auto">
    <h2 id="hellotext" style="text-align:center">Hello, Student</h2>
</div>
<blockquote class="blockquote text-right">
    <p class="mb-0" id="quote">Have a nice day :)</p>
    <footer class="blockquote-footer" id="famousname"> </footer>
</blockquote>
<br />
<div class="d-flex p-2 text-center col-auto">
    <button id="getTimeTable-btn" onclick="getTimeTable()" class="btn btn-info">Show My Registered Courses</button>
    <button id="showCoursesToRegister-btn" onclick="showCoursesToRegister()" class="btn btn-info">I want to register course</button>
    <br />
    <table id="timeTable" class="table table-dark table-responsive table-striped"></table>
    <table id="coursesToRegisterTable" class="table table-dark table-responsive table-striped"></table>
    <div id="givestudentpointzone" style="display:none">
        <table id="givePoints" class="table table-dark table-responsive"></table>
        <button id="finnishGivePoint" class="btn btn-success" onclick="savePoints()">Save Point</button>
    </div>
</div>

<script src="~/Scripts/StudentScript.js">//TODO: move script to another file

   
    </script>