
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_LayoutForLogout.cshtml";
}

@using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    <button><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></button>
}

